---
// Hero Contact Component
---

<div class="hero py-16 px-4">
  <div class="hero-content text-center">
    <div class="mx-auto max-w-3xl">
      <h1 class="text-5xl font-bold mb-6 uppercase leading-relaxed">Events at<br>Bamboo Sky</h1>
      <p class="py-6 text-lg pb-8 leading-relaxed">
        Find your flow this season. At Bamboo Sky, we believe celebrations should be memorable, magical, and a little bit wild. This season, our calendar is packed with events designed to spark your senses, feed your curiosity, and bring people together.
        <br><br>
        <i>Whether you're here to get creative, dance under the stars, or linger over a festive tea with friends, you'll find something to make your heart sing.</i>
      </p>
      <div class="flex gap-4 justify-center">
        <a href="https://www.designmynight.com/cambridge/restaurants/bamboo-sky" target="_blank" class="btn btn-lg btn-primary uppercase">View our events</a>
        <a href="/contact#contact-form" class="btn btn-lg btn-outline uppercase">Contact us about your event</a>
      </div>
    </div>
  </div>
</div>
