---
// Hero Domes Component
import BookDomeModal from '../modal/book_dome.astro';
---

<div class="hero py-16 px-4">
  <div class="hero-content text-center">
    <div class="mx-auto max-w-3xl">
      <h1 class="text-5xl font-bold mb-6 uppercase leading-relaxed">Celebrate Christmas at<br>Bamboo Sky</h1>
      <p class="py-6 text-lg pb-8 leading-relaxed">
        A magical setting for festive gatherings, big or small. Step into the warmth of Bamboo Sky and let the season come alive with crackling log fires, fragrant Thai spices, and twinkling lights that make every space feel special.
        <br><br>
        <i>Make this Christmas unforgettable in our cosy countryside escape.</i>
      </p>
      <div class="flex gap-4 justify-center">
        <a href="/contact#contact-form" class="btn btn-lg btn-primary uppercase">Contact us about your Christmas party</a>
      </div>
    </div>
  </div>
</div>