---
// Hero Domes Component
import BookDomeModal from '../modal/book_dome.astro';
---

<div class="hero py-16 px-4">
  <div class="hero-content text-center">
    <div class="mx-auto max-w-3xl">
      <h1 class="text-5xl font-bold mb-6 uppercase leading-relaxed">Dine Beneath<br>The Stars</h1>
      <p class="py-6 text-lg pb-8 leading-relaxed">
        Tucked away in our enchanting garden, our private domes offer the perfect escape for any occasion. Whether it's a romantic evening, a birthday celebration, or a cosy gathering with family and friends, each dome is designed to make your time together unforgettable.
        <br><br>
        <i>Magical hideaways glowing with twinkling fairy lights.</i>
      </p>
      <div class="flex gap-4 justify-center">
        <BookDomeModal />
      </div>
    </div>
  </div>
</div>