---
// Hero Domes Component
import BookDomeModal from '../modal/book_dome.astro';
---

<div class="hero py-16 px-4">
  <div class="hero-content text-center">
    <div class="mx-auto max-w-3xl">
      <h1 class="text-5xl font-bold mb-6 uppercase leading-relaxed">A Fairytale Setting,<br>A Day That's Truly Yours</h1>
      <p class="py-6 text-lg pb-8 leading-relaxed">
        Bamboo Sky is a fairytale wedding venue with an informal, countryside charm. Enchanting surrounds, fused with delectable dining, create the perfect recipe for a day that feels as magical as it does effortless.
        <br><br>
        <i>We can't wait to be part of your happily ever after.</i>
      </p>
      <div class="flex gap-4 justify-center">
        <a href="/contact#contact-form" class="btn btn-lg btn-primary uppercase">Contact us about your wedding</a>
      </div>
    </div>
  </div>
</div>