---
// Hero Contact Component
import BookTableModal from '../modal/book_table.astro';
---

<div class="hero py-16 px-4">
  <div class="hero-content text-center">
    <div class="mx-auto max-w-3xl">
      <h1 class="text-5xl font-bold mb-6 uppercase leading-relaxed">OOPS!<br>WRONG TABLE!</h1>
      <p class="py-6 text-lg pb-8 leading-relaxed">
        Let's get you back to the good stuff.
      </p>
      <div class="flex gap-4 justify-center">
        <a href="/" class="btn btn-lg btn-primary uppercase">Home</a>
        <a href="https://order.bamboosky.co.uk/" target="_blank" class="btn btn-lg btn-outline uppercase">Order Takeout</a>
      </div>
    </div>
  </div>
</div>