---
// Hero Contact Component
import BookTableModal from '../modal/book_table.astro';
import BookDomeModal from '../modal/book_dome.astro';
---

<div class="hero py-16 px-4">
  <div class="hero-content text-center">
    <div class="mx-auto max-w-3xl">
      <h1 class="text-5xl font-bold mb-6 uppercase leading-relaxed">Gather Beneath<br>The Open Skies</h1>
      <p class="py-6 text-lg pb-8 leading-relaxed">
        Our grand Tipi sits proudly in the Secret Wild Meadow of Bamboo Sky, a one-of-a-kind setting surrounded by nature and open air. Seating up to 80 guests, it's the perfect canvas for unforgettable events.
        <br><br>
        <i>Where memories are made beneath Bourn's wide open skies.</i>
      </p>
      <div class="flex gap-4 justify-center">
        <a href="/contact#contact-form" class="btn btn-lg btn-primary uppercase">Contact us about the Tipi</a>
      </div>
    </div>
  </div>
</div>