---
// Content Homepage Component
const theme = Astro.props.theme;

import welcomeImage from '../../assets/images/bamboosky-thai-restuarant-cambridge_45_7bfl7c9g.jpg';
---

<section data-theme={theme} class={theme === 'bamboosky-creme' ? 'bamboosky-border' : ''}>
  <div class="py-16">
    <div class="container mx-auto px-4 py-8">
      <div class="grid grid-cols-1 gap-4 md:grid-cols-2 md:items-center md:gap-8">
        <div>
          <div class="max-w-prose md:max-w-none">
            <h2 class="text-3xl font-bold uppercase">
              Welcome to Bamboo Sky
            </h2>

            <p class="text-lg mt-4">
              A unique Cambridgeshire countryside hideaway where flavour, flair & unforgettable moments come together.
            </p>
            <p class="text-lg mt-4">
              Bamboo Sky is more than a restaurant – it's a countryside hideaway where nature, flavour, and good company meet in <a href="/gardens" class="link link-hover">gardens</a>, <a href="/domes" class="link link-hover">domes</a>, and magical corners waiting to be discovered.
            </p>

            <a href="/menu" class="btn btn-primary uppercase mt-8">View the Menu</a>
            <a href="/venue" class="btn btn-outline uppercase mt-8">See our Venue</a>
          </div>
        </div>

        <div>
          <img
            src={welcomeImage.src}
            class="rounded-box"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</section>