---
// Footer Component
---

<footer data-theme="bamboosky-creme" class="text-base-content p-10 bamboosky-border-footer">
  <div class="container mx-auto px-4 py-16">
    <div class="flex flex-col lg:flex-row gap-8">
      
      <!-- Restaurant Info -->
      <aside class="flex flex-col flex-1 gap-2 text-center lg:text-left">
        <h6 class="text-lg font-bold uppercase text-base-content">Bamboo Sky</h6>
        <p>Bourn's premier destination for authentic Thai cuisine elevated to new heights.</p>
         <div class="flex mt-4 gap-2 justify-center lg:justify-start">
           <a href="https://www.instagram.com/bamboo_sky/" target="_blank" class="">
             <!-- Instagram icon placeholder -->
             <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24">
               <path d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zm0-2.163c-3.259 0-3.667.014-4.947.072-4.358.2-6.78 2.618-6.98 6.98-.059 1.281-.073 1.689-.073 4.948 0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98 1.281.058 1.689.072 4.948.072 3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98-1.281-.059-1.69-.073-4.949-.073zm0 5.838c-3.403 0-6.162 2.759-6.162 6.162s2.759 6.163 6.162 6.163 6.162-2.759 6.162-6.163c0-3.403-2.759-6.162-6.162-6.162zm0 10.162c-2.209 0-4-1.79-4-4 0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.21-1.791 4-4 4zm6.406-11.845c-.796 0-1.441.645-1.441 1.44s.645 1.44 1.441 1.44c.795 0 1.439-.645 1.439-1.44s-.644-1.44-1.439-1.44z"/>
             </svg>
           </a>
           <a href="https://www.facebook.com/bambooskythai/" target="_blank" class="">
             <!-- Facebook icon placeholder -->
             <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24">
               <path d="M24 12.073c0-6.627-5.373-12-12-12s-12 5.373-12 12c0 5.99 4.388 10.954 10.125 11.854v-8.385H7.078v-3.47h3.047V9.43c0-3.007 1.792-4.669 4.533-4.669 1.312 0 2.686.235 2.686.235v2.953H15.83c-1.491 0-1.956.925-1.956 1.874v2.25h3.328l-.532 3.47h-2.796v8.385C19.612 23.027 24 18.062 24 12.073z"/>
             </svg>
           </a>
         </div>
      </aside>

      <!-- Mobile divider -->
      <div class="divider lg:hidden"></div>

      <!-- Information -->
      <nav class="flex flex-col flex-1 gap-2 text-center lg:text-left">
        <h6 class="text-lg font-bold uppercase text-base-content">Information</h6>
        <a href="/venue" class="link link-hover">Venue</a>
        <a href="/events" class="link link-hover">Events</a>
        <a href="/weddings" class="link link-hover">Weddings</a>
        <a href="/allergens" class="link link-hover">Allergen Information</a>
        <a href="/privacy" class="link link-hover">Privacy Policy</a>
      </nav>

      <!-- Mobile divider -->
      <div class="divider lg:hidden"></div>

      <!-- Contact -->
      <nav class="flex flex-col flex-1 gap-2 text-center lg:text-left">
        <h6 class="text-lg font-bold uppercase text-base-content">Contact</h6>
        <a href="https://maps.google.com/?q=29+High+St,+Bourn,+Cambridge+CB23+2SQ" target="_blank" rel="noopener noreferrer" class="link link-hover">29 High St, Bourn, Cambridge CB23 2SQ</a>
        <a href="tel:+441954719775" class="link link-hover">01954 719775</a>
        <a href="mailto:hello@bamboosky.co.uk" class="link link-hover">hello@bamboosky.co.uk</a>
      </nav>

      <!-- Mobile divider -->
      <div class="divider lg:hidden"></div>

      <!-- Hours -->
      <div class="flex flex-col flex-2 text-center lg:text-left">
        <h6 class="text-lg font-bold uppercase text-base-content">Opening Hours</h6>
        <table class="table">
          <tbody>
            <tr>
              <td>Monday</td>
              <td class="text-right">Closed</td>
            </tr>
            <tr>
              <td>Tuesday</td>
              <td class="text-right">4pm - 10pm</td>
            </tr>
            <tr>
              <td>Wednesday - Thursday</td>
              <td class="text-right">11am - 10pm</td>
            </tr>
            <tr>
              <td>Friday - Saturday</td>
              <td class="text-right">11am - 11pm</td>
            </tr>
            <tr>
              <td>Sunday</td>
              <td class="text-right">12pm - 10pm</td>
            </tr>
            <tr>
              <td>Kitchen Hours</td>
              <td class="text-right">Lunch & Dinner Service</td>
            </tr>
          </tbody>
        </table>
      </div>
 
    </div>

    <div class="divider"></div>

    <div class="flex flex-col lg:flex-row items-center justify-between gap-6">
      <div class="flex flex-col items-center lg:items-start text-center lg:text-left">
        <h3 class="text-2xl font-bold">STAY UPDATED</h3>
        <p class="text-lg">Subscribe for exclusive updates and special offers.</p>
      </div>
      
      <form action="https://bamboosky.us2.list-manage.com/subscribe/post?u=b98e96b955b28d9df0e5abb62&amp;id=f8a6d3df39&amp;f_id=008293e3f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate join" target="_blank">
        <!-- Hidden Mailchimp fields -->
        <div aria-hidden="true" style="position: absolute; left: -5000px;">
          <input type="text" name="b_b98e96b955b28d9df0e5abb62_f8a6d3df39" tabindex="-1" value="">
        </div>
        
        <div>
          <label class="input validator join-item lg:w-80">
            <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <g
                stroke-linejoin="round"
                stroke-linecap="round"
                stroke-width="2.5"
                fill="none"
                stroke="currentColor"
              >
                <rect width="20" height="16" x="2" y="4" rx="2"></rect>
                <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
              </g>
            </svg>
            <input type="email" name="EMAIL" placeholder="mail@site.com" required />
          </label>
          <div class="validator-hint hidden">Enter valid email address</div>
        </div>
        <button type="submit" name="subscribe" class="btn btn-neutral join-item">Subscribe</button>
        
        <!-- Mailchimp response messages -->
        <!--<div id="mce-responses" class="clear" style="margin-top: 10px;">
          <div class="response" id="mce-error-response" style="display: none; color: #e74c3c; font-size: 14px;"></div>
          <div class="response" id="mce-success-response" style="display: none; color: #27ae60; font-size: 14px;"></div>
        </div>-->
      </form>
    </div>

    <div class="divider"></div>

    <aside>
      <small>Copyright © {new Date().getFullYear()} Bamboo Sky. All right reserved.</small>
    </aside>

  </div>
</footer>

<!-- Mailchimp JavaScript validation -->
<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
<script type="text/javascript">
(function($) {
  window.fnames = new Array(); 
  window.ftypes = new Array();
  fnames[0]='EMAIL';
  ftypes[0]='email';
  fnames[1]='FNAME';
  ftypes[1]='text';
  fnames[2]='LNAME';
  ftypes[2]='text';
  fnames[3]='ADDRESS';
  ftypes[3]='address';
  fnames[4]='PHONE';
  ftypes[4]='phone';
}(jQuery));
var $mcj = jQuery.noConflict(true);
</script>